extends layout

block content
  div.container
    div.row
      !=menu
      div.span9
        form.form-vertical(method='post', enctype='multipart/form-data')
          input(type="hidden",name="mode",value="adduser")
          fieldset
            legend="新增帳號"
              p!='帳號: <input type="text" name="account" />'
              p!='密碼: <input type="password" name="password" />'
              p!='使用者: <input type="text" name="contact_name" />'
              p!=SelIdentity
              p!='EMail : <input type="text" name="note"  value=""/>'
              p!='<button type="submit" class="btn"><i class="icon-cog"></i>新增帳號</button></p>'
